<div class="row about">
  <div class="medium-6 large-8 columns">
    <h4>About</h4>
    <p>Scott Macpherson lives in Seattle, WA.  He is currently
      studying web development at <%= link_to("Code Fellows",
                                      "https://www.codefellows.org/")%>.
    Since graduating from the University of Washington in 2010 with a Bachelors of Music in
    Jazz Studies, Scott has been performing around the Northwest.  He
    is a saxophonist, clarinetist, flutist, composer, arranger,
    educator and transcriptionist.</p>
  </div>
  <div class="medium-6 large-4 columns">
    <img src="<%= asset_path "sax_painting.jpg" %>"
         </div>
</div>
