<div class="row contact">
  <hr>
  <div class="large-12 columns">
    <h4>Contact</h4>
    <div class="large-4 columns">
      <strong>Email</strong>: scottmacphersonmusic@gmail.com
    </div>
    <div class="large-4 columns">
      <strong><%= link_to "GitHub", "https://github.com/scottmacphersonmusic" %></strong>
    </div>
    <div class="large-4 columns">
      <strong><%= link_to("LinkedIn",
                  "www.linkedin.com/in/scottmacphersonmusic")%> </strong>
    </div>
    <div class="large-4 columns">
      <strong>Twitter</strong>: <%= link_to "@scohottentot", "https://twitter.com/scohottentot" %>
    </div>
  </div>
</div>
