<footer id="footer" class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div id="copywrite" class="six columns right">
        <p>&copy; Scott Macpherson 2015.</p>
      </div>
      <div class="six columns">
        <ul class="link-list right">
          <li><a href="#">Music</a></li>
          <li><a href="#">Code</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
