<div class="row">
  <div class="three columns">
    <h2>Scott Macpherson</h2>
  </div>
  <div class="nine columns">
    <ul class="nav-bar right">
      <li><a href="#">Music</a></li>
      <li><a href="#">Code</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>
