<div class="row">
  <div class="three columns">
    <a href="<%= root_path %>"><h2 id="name">Scott Macpherson</h2></a>
  </div>
  <div class="nine columns">
    <ul class="nav-bar right">
      <li><%= link_to "Portfolio", projects_path ,class: "navlink" %></li>
      <li><%= link_to "Blog", articles_path, class: "navlink" %></li>
      <li><%= link_to "Music",
              "http://www.thefabulouspartyboys.com/video",
              class: "navlink" %></li>
      <li><a href="#" class="navlink">Contact</a></li>
    </ul>
  </div>
</div>
