<nav class="top-bar navbar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to "Scott Macpherson", root_path, id: "name" %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <%= render 'shared/signup_login_logout' %>

    <%= render 'shared/sections' %>

  </section>
</nav>
