<ul class="right">
  <li class="has-dropdown">
  <% if user_signed_in? %>
    <a href="#"><%= current_user.email %></a>
    <ul class="dropdown">
      <li><%= link_to("Sign Out", destroy_user_session_path,
              method: :delete, class: "navlink") %>
      </li>
    </ul>

  <% else %>
    <a href="#">Guest</a>
    <ul class="dropdown">

      <%=  render 'devise/shared/links' %>

    </ul>
  <% end %>
  </li>
</ul>
