<article>
  <header>
    <h1>Scott Macpherson</h1>
  </header>
  <ul><h3>Hobbies</h3>
    <li>Creating music with others</li>
    <li>Developing web apps</li>
    <li>Running around Green Lake</li>
    <li>Going to Seattle Sounders games</li>
  </ul>
  <footer>
  </footer>
</article>
