<div id="about" class="row">
  <div class="four columns">
    <img id="sax" src="<%= asset_path "sax_painting.jpg" %>" />
  </div>
  <div class="eight columns">
    <div class="row">
      <div class="six columns">
        <p id="info">Web developer. Musician.</p>
      </div>
    </div>
  </div>
</div>
