<div class="hero">
  <div class="row">
    <div class="large-12 columns intro-text">
      <p>Web Developer<br>Musician</p>
    </div>
  </div>
</div>

<%= render 'shared/about' %>

<%= render 'shared/contact' %>
