# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 74f59fb48c632d23bd3d5f514ff42741f584a7035345821ac6be622be0eba54cd9531b053670ddb7245c73283a13d41d32866370f51c87eb26b192d6d601e5b8
  twitter_key: <%= ENV["TWITTER_CONSUMER_KEY"] %>
  twitter_secret: <%= ENV[ "TWITTER_CONSUMER_SECRET"] %>

test:
  secret_key_base: 7f7bcd47699d82c504fa6174272461ac74bc24ab6384938e9868aaa959f37e00ef45320f48828b10d5d03bf34deddada630eab783b2648c4e01665723b7a4bbb

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
