/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Welcome Page
:: Blog (Articles)
:: Portfolio (Projects)
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

nav.top-bar.navbar {
  background: rgba(34, 34, 34, 0.79);
  margin: 0px;
}

#name {
  font-family: 'Gruppo', cursive;
  font-size: 25px !important;
}

#name:hover {
  background: #2ba6cb;
}

.navlink:hover {
  background: #2ba6cb !important;
}

.title {
  font-family: 'Gruppo', cursive;
  margin-left: 10%
}

.button.radius.small {
  color: #e6e6e6;
  background: #666;
}

.button.radius.small:hover {
  background: #2ba6cb;
}

/* -----------------------------------------
   Welcome Page
----------------------------------------- */

div.hero {
  background-image: image-url('cascadia.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 70%;
  height: 800px;
}

div.large-12.columns.intro-text {
  font-family: 'Gruppo', cursive !important;
  margin-top: 10%;
  margin-left: 38%
}

/* -----------------------------------------
   Blog
----------------------------------------- */

#new_article {
  color: #e6e6e6;
  background: #666;
  margin-left: 65%;
  margin-bottom: 1.3em;
}

#new_article:hover {
  background: #2ba6cb;
}


/* -----------------------------------------
   Portfolio  (Projects)
----------------------------------------- */

.project_logo {
  height: 150px;
  width: 150px;
  border: #2ba6cb;
  border-style: solid;
  border-width: thick;
  border-radius: 15px;
}