/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Welcome Page
:: Blog
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

#name {
  font-family: 'Gruppo', cursive;
}

.title {
  font-family: 'Gruppo', cursive;
  margin-left: 10%
}

.navlink:hover {
  background: #2ba6cb;
}

.button.radius.small {
  color: #e6e6e6;
  background: #666;
}

.button.radius.small:hover {
  background: #2ba6cb;
}

#footer {
  color: white;
}

/* -----------------------------------------
   Welcome Page
----------------------------------------- */
#sax {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  opacity: 0.85;
  height: 200px;
  width: 200px;
}

#about {
  margin-top: 50px;
  margin-bottom: 80px;
}

div#about.row {
  margin-bottom: 0%
}

#info{
  font-size: 20px;
}

#welcome_spacer {
  margin-bottom: 80%;
}

/* -----------------------------------------
   Blog
----------------------------------------- */

#articles {
  margin-left: auto;
  margin-right: auto;
}

#new_article_button {
  color: #e6e6e6;
  background: #666;
  margin-left: 65%;
  margin-bottom: 1.3em;
}

#new_article_button:hover {
  background: #2ba6cb;
}

#new_edit_form {
  /* color:  */
}